.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;  /* Same dark black shade as navbar */
  padding: 1rem 2rem;
  color: white;
  font-size: 1rem;
}

.footer-text {
  text-align: center;
  color: #fbbf24; /* Yellow color for footer text */
}
